{% extends "global/base.html" %}

{% block content %}
    <div class="single-contact">
        <h1 class="single-contact-name">
            {{ contact.first_name }} {{ contact.last_name }}
        </h1>
        <p><b>ID:</b> {{ contact.id }} </p>
        <p><b>E-mail:</b> {{ contact.email }} </p>
        <p><b>Phone:</b> {{ contact.phone }} </p>
        <p><b>Created date:</b> {{ contact.created_date }} </p>
        <p><b>Description:</b> {{ contact.description }} </p>
        {% comment %} 
            Como category é uma foreign key, é recomendado que 
            seja coletada a característica desejada dentro do
            model, como neste exemplo, category.name. Caso seja
            solicitado apenas o category, o método __str__ será
            chamado.

            Ex.: Pode-se coletar o id da categoria usando:
                category.id
        {% endcomment %}
        <p><b>Category:</b> {{ contact.category.name }} </p>

        {% comment %} 
            Verificando se existe a imagem de perfil
        {% endcomment %}
        {% if contact.picture %}
            <p>
                <img src=" {{ contact.picture.url }}" alt="{{ contact.first_name}} {{ contact.last_name }}">
            </p>
        {% endif %}

        {% comment %}  
            O botão de Update está dentro de um a pois é somente
            leitura (GET), enquanto que o Delete está dentro de
            um form pois ele realizada uma ação sensível, e 
            precisa do método POST.

            OU SEJA, QUALQUER ALTERAÇÃO OU EXCLUSÃO DEVE SER
            FEITA COM O MÉTODO POST.
        {% endcomment %}
        
        {% comment %} 
            Exibe apenas se o usuário logado for o proprietário
        {% endcomment %}
        {% if user == contact.owner %}
            <div class="contact-links">
                <a class="btn btn-link" href="{% url "contact:update" contact.id %}">Update</a>
                <form action="{% url "contact:delete" contact.id %}" method="post">
                    {% csrf_token %}
                    {% if confirmation == 'no' %}
                        <input type="hidden" name="confirmation" value="yes">
                        <button class="btn btn-link btn-delete" type="submit">Confirma?</button>
                    {% else %}
                        <button class="btn btn-link btn-delete" type="submit">Delete</button>
                    {% endif %}
                </form>
            </div>
        {% endif %}
    </div>


{% endblock content %}
