{% extends "global/base.html" %}

{% comment %} Conteúdo do site {% endcomment %}
{% block content %}
    <div class="responsive-table">
        <table class="contacts-table">
            {% comment %} Título da tabela {% endcomment %}
            <caption class="table-caption">
                Contacts
            </caption>
            {% comment %} Cabeçalho da tabela {% endcomment %}
            <thead>
                <tr class="table-row table-row-header">
                    <th class="table-row table-row-header">ID</th>
                    <th class="table-row table-row-header">First Name</th>
                    <th class="table-row table-row-header">Last Name</th>
                    <th class="table-row table-row-header">Phone</th>
                    <th class="table-row table-row-header">E-mail</th>
                </tr>
            </thead>
            {% comment %} Contatos {% endcomment %}
            <tbody>
                {% for contact in contacts %}
                    <tr class="table-row">
                        <td class="table-cell">
                            <a href="#" class="table-link">
                                {{ contact.id }}
                            </a>
                        </td>
                        <td class="table-cell">
                            {{ contact.first_name }}
                        </td>
                        <td class="table-cell">
                            {{ contact.last_name }}
                        </td>
                        <td class="table-cell">
                            {{ contact.phone }}
                        </td>
                        <td class="table-cell">
                            {{ contact.email }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
