<header class="header">
    <h1 class="header-heading">
        <a href="{% url "contact:index" %}" class="header-link">Agenda</a>
    </h1>
    <nav class="menu">
        <ul class="menu-list">
            {% comment %} 
                Verifica se o usuário está logado
            {% endcomment %}
            {% if user.is_authenticated %}
                <li class="menu-item">
                    <a href="{% url "contact:create" %}" class="menu-link">Create</a>
                </li> 
                <li class="menu-item">
                    <a href="{% url "contact:user_update" %}" class="menu-link">Profile</a>
                </li>
                <li class="menu-item">
                    <a href="{% url "contact:logout" %}" class="menu-link">Logout</a>
                </li>
            {% else %}
                <li class="menu-item">
                    <a href="{% url "contact:login" %}" class="menu-link">Login</a>
                </li>
                <li class="menu-item">
                    <a href="{% url "contact:register" %}" class="menu-link">Register</a>
                </li>
            {% endif %}
        </ul>
    </nav>
    <div class="search">
        {% comment %} 
            O método get vai atrelar a pesquisa à URL
        {% endcomment %}
        <form 
            action="{% url "contact:search" %}" 
            method="get"
        >
            <input 
                type="text"  
                class="search-input"
                placeholder="Search"
                id="search"
                {% comment %} q
                    q de query, usado pelo Google 
                {% endcomment %}
                name="q"
                {% comment %} 
                    Formas de pegar a chave da pesquisa para
                    ser mantida no campo
                {% endcomment %}
                {% comment %} 
                    Dessa forma, o valor vem da view
                    value="{{ search_value }}" 
                {% endcomment %}
                {% comment %} 
                    Dessa forma, o valor vem do request, que
                    temos acesso dentro desse documento.
                    Pode-se chamar funções mais simples para
                    a chamada do Django, como strip, dessa forma
                {% endcomment %}
                value="{{ request.GET.q.strip }}"
                >
        </form>
    </div>
</header>
